<% 
	past_events = PluginEvent.find(:all, :conditions => ["item_id = ? and date < ?" ,item.id, Time.now.beginning_of_day], :order => "date DESC")
%> 
<% 
	current_events = PluginEvent.find(:all, :conditions => ["item_id = ? and date > ?" ,item.id, Time.now.beginning_of_day], :order => "date DESC")
	total_events = current_events.size  + past_events.size
%> 
<% if total_events > 0 || item.is_editable_for_user?(@logged_in_user) %>
	<div class="plugin_box">
		<a name="<%= PluginEvent.model_name.human(:count => :other) %> "></a>
		<div class="header title">
			<table style="width:100%" cellpadding=0 cellspacing=0>
				<tr>
					<td align=left>
						<h2 class="title">
							<%= current_events.size  %> <%= t("single.upcoming") %> <%= PluginEvent.model_name.human(:count => :other) %>
						</h2>										
					</td>
					<td align=right>
						<a href="javascript:toggle_box('new_event_box')" class="plugin_title_link">
							<%= icon("new") %>
							<%=  t("label.item_new", :item => plugin.model_name.human) %>
						</a>	
					<% if past_events.size > 0 %>
						<%= icon("spacer") %>
					   	<a href="javascript:toggle_box('past_events_box')"><%= past_events.size %> <%= t("single.past") %> <%= PluginEvent.model_name.human(:count => :other) %></a>
					<% end %>										
					</td>
				</tr>
			</table>				
		</div>			
		<% if item.is_editable_for_user?(@logged_in_user) %>
			<div style="display:none;" id="new_event_box" class="box_1">
			      <h2><%= t("label.item_new", :item => PluginEvent.model_name.human) %></h2>
  					   <%= form_tag  :action => 'create', :controller => "plugin_events", :id => @item.id %>
						 <%= render :partial => "plugin_events/form" %>
						 <%= submit_tag t("label.item_create", :item => PluginEvent.model_name.human), :class => "button_1" %>	
					   </form>
					 <br>
					 <br>
				 	 <div align="center">
					   			<a href="javascript:toggle_box('new_event_box')"><%= icon("cancel") %></a>
					 </div>
			</div>
		<% end %>
		<div class="events">
			<% for event in current_events %>
				<%= render :partial => "plugin_events/show", :locals => {:event => event} %>
			<% end %>

			 <div id="past_events_box" style="display:none;clear:both">	
				<% for event in past_events %>
					<%= render :partial => "plugin_events/show", :locals => {:event => event} %>
				<% end %>
			 </div>
		</div>
	</div>
<% end %>